# Ignorer OS-spesifikke systemfiler
.DS_Store
Thumbs.db

# Ignorer editor-konfigurasjoner
.vscode/
.idea/

# Ignorer backend bygg-filer
Trump-BackEnd/bin/
Trump-BackEnd/obj/

# Ignorer databasefiler
Trump-BackEnd/*.db
Trump-BackEnd/*.db-journal

# Ignorer frontend bygg-filer og node_modules
Trump-FrontEnd/node_modules/
Trump-FrontEnd/dist/
Trump-FrontEnd/.vite/
Trump-FrontEnd/.env
